---
- hosts:
  - aws
  remote_user: ansible
  become: yes
  tasks:
  #########################################3
  #Update
  - name: upgrade all packages
    yum: name=* state=latest

  #########################################3
  #Setup supervisor
  - name: yum install -y python-setuptools
    yum: name=python-setuptools state=latest

  - name: easy_install supervisor
    shell: easy_install supervisor

  - name: mkdir /var/log/supervisor
    file:
      path: /var/log/supervisor
      state: directory
    
  - name: mkdir /etc/supervisor/conf.d
    file:
      path: /etc/supervisor/conf.d
      state: directory

  - name: copy supervisord.conf to the remote server
    copy:
      src: supervisord.conf
      dest: /etc/supervisor

  - name: copy supervisord.service to the remote server
    copy:
      src: supervisord.service
      dest: /lib/systemd/system

  - name: systemctl enable supervisord
    shell: systemctl enable supervisord